---
import Layout from "@/layouts/Layout.astro";
import NavigationHeader from "@/components/NavigationHeader.astro";
import HeroSection from "@/components/HeroSection.astro";
import VideoSection from "@/components/VideoSection.astro";
import PillarsSection from "@/components/PillarsSection.astro";
import DashboardPreviewSection from "@/components/DashboardPreviewSection.astro";
import CaseStudiesSection from "@/components/CaseStudiesSection.astro";
import JourneySection from "@/components/JourneySection.astro";
import TeamSection from "@/components/TeamSection.astro";
import QualifierSection from "@/components/QualifierSection.astro";
import TestimonialsSection from "@/components/TestimonialsSection.astro";
import FAQSection from "@/components/FAQSection.astro";
import CTASection from "@/components/CTASection.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <NavigationHeader />
  <main class="min-h-screen">
    <HeroSection />
    <VideoSection />
    <PillarsSection />
    <DashboardPreviewSection />
    <CaseStudiesSection />
    <JourneySection />
    <TeamSection />
    <QualifierSection />
    <TestimonialsSection />
    <FAQSection />
    <CTASection />
  </main>
  <Footer />
</Layout>
